// Variables
$blue: #181d56;
$green: #b4cd68;
$gray: #ddd;
$red: #8b3232;

body {
  background: #eee;
}

p, li {
  font-family: "SourceSansProRegular", "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

h2 {
  margin: 50px 0;
  text-align: center;
  font-family: "NeoRetroDrawRegular";
  font-size: 96px;
  strong {
    display: block;
    letter-spacing: 3px;
  }
  span {
    font-size: .5em;
  }
}

h3 {
  font-family: "NeoRetroDrawFill";
  text-align: center;

}

ul {
  margin-left: 40px;
  list-style-image: url(../images/dash.png);
  li {

  }
}

// First Section
section.what {
  padding-bottom: 60px;
  h3 {
    font-weight: bold;
    color: white;
    background: black;
    padding: 20px 0;
    margin: 0;
     box-shadow: 0px 0px 10px #000;
  }
  .box {
    background: white;
    padding: 50px 50px 40px;
    // min-height: 400px;
    box-shadow: 0px 0px 10px #bbb;
  }
}
div.you-we-bg {
    background: $gray;
  div.you-we {
    padding: 60px 0;
    section {
      h3 {
        color: black;
        background: white;
        padding: 20px 0;
      }
      p {
        text-align: center;
        padding: 10px;
      }
      ul {
        padding-right: 10px;
      }
    }
  }
}
section.who {
  background: white;
  padding: 0 0 30px 0;
  margin: 60px 0;
  box-shadow: 0px 0px 10px #bbb;
  h3 {
    color: white;
    background: black;
    padding: 20px 0;
    margin-top: 0;
  }
  ul {
    margin-left: 80px;
    li {
      list-style-image: url(../images/dash.png);
      padding: 20px 40px 0 0;
    }
  }
}
div.why-bg {
  background: $gray;
  div.why {
    padding: 60px 0;
    section.why {
      h3 {
        background: white;
        padding: 20px 0;
        margin-top: 0;
      }
      p {
        padding: 10px 30px;
      }
    }
  }
}

footer {
  background: black;
  padding: 60px 0;
  h2 {
    color: white;
    font-size: 72px;
  }
  p {
    text-align:center;
    color: white;
    font-size: 36px;
    a {
      color: $green;
    }
  }
}

@font-face {
    font-family: 'SourceSansProSemiboldItalic';
    src: url('../webfonts/SourceSansPro-SemiboldIt-webfont.eot');
    src: url('../webfonts/SourceSansPro-SemiboldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/SourceSansPro-SemiboldIt-webfont.woff') format('woff'),
         url('../webfonts/SourceSansPro-SemiboldIt-webfont.ttf') format('truetype'),
         url('../webfonts/SourceSansPro-SemiboldIt-webfont.svg#SourceSansProSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBold';
    src: url('../webfonts/SourceSansPro-Bold-webfont.eot');
    src: url('../webfonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('../webfonts/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('../webfonts/SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBoldItalic';
    src: url('../webfonts/SourceSansPro-BoldIt-webfont.eot');
    src: url('../webfonts/SourceSansPro-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/SourceSansPro-BoldIt-webfont.woff') format('woff'),
         url('../webfonts/SourceSansPro-BoldIt-webfont.ttf') format('truetype'),
         url('../webfonts/SourceSansPro-BoldIt-webfont.svg#SourceSansProBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBlack';
    src: url('../webfonts/SourceSansPro-Black-webfont.eot');
    src: url('../webfonts/SourceSansPro-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/SourceSansPro-Black-webfont.woff') format('woff'),
         url('../webfonts/SourceSansPro-Black-webfont.ttf') format('truetype'),
         url('../webfonts/SourceSansPro-Black-webfont.svg#SourceSansProBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBlackItalic';
    src: url('../webfonts/SourceSansPro-BlackIt-webfont.eot');
    src: url('../webfonts/SourceSansPro-BlackIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/SourceSansPro-BlackIt-webfont.woff') format('woff'),
         url('../webfonts/SourceSansPro-BlackIt-webfont.ttf') format('truetype'),
         url('../webfonts/SourceSansPro-BlackIt-webfont.svg#SourceSansProBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProExtraLight';
    src: url('../webfonts/SourceSansPro-ExtraLight-webfont.eot');
    src: url('../webfonts/SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/SourceSansPro-ExtraLight-webfont.woff') format('woff'),
         url('../webfonts/SourceSansPro-ExtraLight-webfont.ttf') format('truetype'),
         url('../webfonts/SourceSansPro-ExtraLight-webfont.svg#SourceSansProExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProExtraLightItalic';
    src: url('../webfonts/SourceSansPro-ExtraLightIt-webfont.eot');
    src: url('../webfonts/SourceSansPro-ExtraLightIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/SourceSansPro-ExtraLightIt-webfont.woff') format('woff'),
         url('../webfonts/SourceSansPro-ExtraLightIt-webfont.ttf') format('truetype'),
         url('../webfonts/SourceSansPro-ExtraLightIt-webfont.svg#SourceSansProExtraLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProLight';
    src: url('../webfonts/SourceSansPro-Light-webfont.eot');
    src: url('../webfonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/SourceSansPro-Light-webfont.woff') format('woff'),
         url('../webfonts/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('../webfonts/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProLightItalic';
    src: url('../webfonts/SourceSansPro-LightIt-webfont.eot');
    src: url('../webfonts/SourceSansPro-LightIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/SourceSansPro-LightIt-webfont.woff') format('woff'),
         url('../webfonts/SourceSansPro-LightIt-webfont.ttf') format('truetype'),
         url('../webfonts/SourceSansPro-LightIt-webfont.svg#SourceSansProLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../webfonts/SourceSansPro-Regular-webfont.eot');
    src: url('../webfonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../webfonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('../webfonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProItalic';
    src: url('../webfonts/SourceSansPro-It-webfont.eot');
    src: url('../webfonts/SourceSansPro-It-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/SourceSansPro-It-webfont.woff') format('woff'),
         url('../webfonts/SourceSansPro-It-webfont.ttf') format('truetype'),
         url('../webfonts/SourceSansPro-It-webfont.svg#SourceSansProItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProSemibold';
    src: url('../webfonts/SourceSansPro-Semibold-webfont.eot');
    src: url('../webfonts/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/SourceSansPro-Semibold-webfont.woff') format('woff'),
         url('../webfonts/SourceSansPro-Semibold-webfont.ttf') format('truetype'),
         url('../webfonts/SourceSansPro-Semibold-webfont.svg#SourceSansProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SeasideResortNFRegular';
    src: url('../webfonts/SEASRN__-webfont.eot');
    src: url('../webfonts/SEASRN__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/SEASRN__-webfont.woff') format('woff'),
         url('../webfonts/SEASRN__-webfont.ttf') format('truetype'),
         url('../webfonts/SEASRN__-webfont.svg#SeasideResortNFRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NeoRetroDrawRegular';
    src: url('../webfonts/NEORD___-webfont.eot');
    src: url('../webfonts/NEORD___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/NEORD___-webfont.woff') format('woff'),
         url('../webfonts/NEORD___-webfont.ttf') format('truetype'),
         url('../webfonts/NEORD___-webfont.svg#NeoRetroDrawRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NeoRetroDrawFill';
    src: url('../webfonts/NEORF___-webfont.eot');
    src: url('../webfonts/NEORF___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/NEORF___-webfont.woff') format('woff'),
         url('../webfonts/NEORF___-webfont.ttf') format('truetype'),
         url('../webfonts/NEORF___-webfont.svg#NeoRetroDrawRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
