/* line 7, ../sass/style.scss */
body {
  background: #eee;
}

/* line 11, ../sass/style.scss */
img {
  width: 100%;
  height: auto;
}

/* line 13, ../sass/style.scss */
p, li {
  font-family: "SourceSansProRegular", "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

/* line 18, ../sass/style.scss */
h2 {
  margin: 50px 0;
  text-align: center;
  font-family: "NeoRetroDrawRegular";
  font-size: 96px;
}
/* line 23, ../sass/style.scss */
h2 strong {
  display: block;
  letter-spacing: 3px;
}
/* line 27, ../sass/style.scss */
h2 span {
  font-size: .5em;
}
@media (max-width: 530px) {
  /* line 18, ../sass/style.scss */
  h2 {
    font-size: 48px;
  }
}

/* line 35, ../sass/style.scss */
h3 {
  font-family: "franchiseregular";
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

/* line 44, ../sass/style.scss */
ul {
  margin-left: 40px;
  list-style-image: url(../images/dash.png);
}

/* line 53, ../sass/style.scss */
section.what {
  padding-bottom: 60px;
}
/* line 55, ../sass/style.scss */
section.what h3 {
  font-weight: normal;
  color: white;
  background: black;
  padding: 20px 0;
  margin: 0;
  box-shadow: 0px 0px 10px #000;
}
/* line 63, ../sass/style.scss */
section.what .box {
  background: white;
  padding: 50px 50px 40px;
  box-shadow: 0px 0px 10px #bbb;
}

/* line 70, ../sass/style.scss */
div.you-we-bg {
  background: #dddddd;
}
/* line 72, ../sass/style.scss */
div.you-we-bg div.you-we {
  padding: 60px 0;
}
/* line 75, ../sass/style.scss */
div.you-we-bg div.you-we section h3 {
  color: black;
  background: white;
  padding: 20px 0;
}
/* line 80, ../sass/style.scss */
div.you-we-bg div.you-we section p {
  text-align: center;
  padding: 10px;
}
/* line 84, ../sass/style.scss */
div.you-we-bg div.you-we section ul {
  padding-right: 10px;
}

/* line 90, ../sass/style.scss */
section.who {
  background: white;
  padding: 0 0 30px 0;
  margin: 60px 0;
  box-shadow: 0px 0px 10px #bbb;
}
/* line 95, ../sass/style.scss */
section.who h3 {
  color: white;
  background: black;
  padding: 20px 0;
  margin-top: 0;
}
/* line 101, ../sass/style.scss */
section.who ul {
  margin-left: 80px;
}
/* line 103, ../sass/style.scss */
section.who ul li {
  list-style-image: url(../images/dash.png);
  padding: 20px 40px 0 0;
}

/* line 109, ../sass/style.scss */
div.why-bg {
  background: #dddddd;
}
/* line 111, ../sass/style.scss */
div.why-bg div.why {
  padding: 60px 0;
}
/* line 114, ../sass/style.scss */
div.why-bg div.why section.why h3 {
  background: white;
  padding: 20px 0;
  margin-top: 0;
}
/* line 119, ../sass/style.scss */
div.why-bg div.why section.why p {
  padding: 10px 30px;
}

/* line 126, ../sass/style.scss */
footer {
  background: black;
  padding: 60px 0;
}
/* line 129, ../sass/style.scss */
footer h2 {
  font-family: "franchiseregular";
  text-transform: uppercase;
  color: white;
  font-size: 96px;
}
/* line 135, ../sass/style.scss */
footer p {
  text-align: center;
  color: white;
  font-size: 36px;
}
/* line 139, ../sass/style.scss */
footer p a {
  color: #b4cd68;
}
/* line 142, ../sass/style.scss */
footer p.by-line {
  margin-left: -200px;
  letter-spacing: 2px;
}
/* line 145, ../sass/style.scss */
footer p.by-line:after {
  content: "";
  display: inline;
  position: absolute;
  width: 210px;
  height: 42px;
  background: url(../images/logo.png) center bottom;
  background-repeat: no-repeat;
  padding-left: 10px;
}

@font-face {
  font-family: 'SourceSansProBold';
  src: url("../webfonts/SourceSansPro-Bold-webfont.eot");
  src: url("../webfonts/SourceSansPro-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/SourceSansPro-Bold-webfont.woff") format("woff"), url("../webfonts/SourceSansPro-Bold-webfont.ttf") format("truetype"), url("../webfonts/SourceSansPro-Bold-webfont.svg#SourceSansProBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProRegular';
  src: url("../webfonts/SourceSansPro-Regular-webfont.eot");
  src: url("../webfonts/SourceSansPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/SourceSansPro-Regular-webfont.woff") format("woff"), url("../webfonts/SourceSansPro-Regular-webfont.ttf") format("truetype"), url("../webfonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProItalic';
  src: url("../webfonts/SourceSansPro-It-webfont.eot");
  src: url("../webfonts/SourceSansPro-It-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/SourceSansPro-It-webfont.woff") format("woff"), url("../webfonts/SourceSansPro-It-webfont.ttf") format("truetype"), url("../webfonts/SourceSansPro-It-webfont.svg#SourceSansProItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoRetroDrawRegular';
  src: url("../webfonts/NEORD___-webfont.eot");
  src: url("../webfonts/NEORD___-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/NEORD___-webfont.woff") format("woff"), url("../webfonts/NEORD___-webfont.ttf") format("truetype"), url("../webfonts/NEORD___-webfont.svg#NeoRetroDrawRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoRetroDrawFill';
  src: url("../webfonts/NEORF___-webfont.eot");
  src: url("../webfonts/NEORF___-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/NEORF___-webfont.woff") format("woff"), url("../webfonts/NEORF___-webfont.ttf") format("truetype"), url("../webfonts/NEORF___-webfont.svg#NeoRetroDrawRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'franchiseregular';
  src: url("../webfonts/franchise-bold-webfont.eot");
  src: url("../webfonts/franchise-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/franchise-bold-webfont.woff") format("woff"), url("../webfonts/franchise-bold-webfont.ttf") format("truetype"), url("../webfonts/franchise-bold-webfont.svg#franchiseregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
